#spritz_view {
    background-color: #eee;
    font-size: 50px;
    color: #222222;
    padding: 20px;
    font-family: sans-serif;
    display: none;
    position: fixed;
    top: 200px;
    width: 100%;
    border: solid #444;
    border-width: 10px 0px;
    z-index: 100;
}

#word_pre {
    width: 30%;
    text-align: right;
    float: left;
}

#word_rest {
    width: 70%;
    float: right;
    text-align: left;
}

#word_pivot {
    color: #ee0000;
}
#next_articles, #prev_articles { display: none; }
#current_article {
    width: 60%;
    margin: 0 auto;
    font-size: 125%;
}

img {
    max-width: 100%;
}

#loading {
    background-color: rgba(255,227,83, 0.3);
    width: 100%;
    font-size: 40px;
    height: 300px;
    line-height: 300px;
    top: 50%;
    margin-top: -150px;
    text-align: center;
    position: absolute;
}


#chrome {
    position: absolute;
}


@media (max-width: 1000px) {
    #spritz_view {
        padding: 0px;
        font-size: 60px;
    }
    #current_article {
        width: 92%;
        margin: 4%;
        font-size: 125%;
    }
}
